div{
    display: flex;
    width: 500px;
    position: center;
    margin-left: 19%;
    margin-right: 19%;
}
button{
    display: inherit;
    width: 80%;
    padding-left: 30%;
    text-align: center;
}