form{
    display: block;
    float: center;
    margin-left: 30%;
    max-block-size: 50%;
    width: 200px; 
}

button{
    display: block;
    float: center;
    margin-left: 35% ;
}

#Title{
    display: block;
    align-content: center;
    width: 100%;
}
#Select{
    display: block;
    align-content: center;
    width: 100%;
}
#Area{
    display: block;
    align-content: center;
    size: 300px;
}